* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #1C2021;
    --azul-claro: #0F9AFE;
    --cinza-claro: #EAEAEA;
    --branco: #FFFFFF;
    --preto: #000000;
}

body {
    background-color: var(--bg-color);
    color: var(--cinza-claro);
}

/* ---- Header ----  */

.header {
    width: 100%;
    position: fixed;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__cabecalho-itens {
    height: 60px;
    border-bottom: 2px solid var(--cinza-claro);
}

.titulo__logo a {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cinza-claro);
}

.icon__menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header__menu-navegacao {
    width: 70%;
    height: 100vh;
    padding: 3.5rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: -800px;
    top: 0;
    opacity: 0.6;
    text-align: center;
    transition: 1s all;
    background-color: var(--preto);
}

.menu__navegacao-itens a {
    padding: 0.9rem;
    font-size: 1rem;
    display: inline-block;
    color: var(--cinza-claro);
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.menu__navegacao-itens a:hover{
    opacity: 0.7;
    border-bottom: 2px solid var(--cinza-claro);
}

.copyright {
    font-size: 0.8rem;
    cursor: pointer;
}

/* ---- Main ----  */

.conteudo__apresentacao {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitulo__apresentacao {
    font-size: 1.4rem;
    text-align: center;
    margin:0 0 1rem;
}

.subtitulo__apresentacao strong {
    color: var(--azul-claro);
}

.descricao__profissao {
    font-size: 1rem;
    text-align: center;
}

.conteudo__apresentacao-links {
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;
}

.links__externos {
    padding: 0.6rem 0.5rem;
    display: flex;
    align-items: center;
    border: 2px solid var(--azul-claro);
    border-radius: 5px;
}

.links__externos:first-child {
    margin: 0 1rem 0 0;
}

.icon__linkedin,
.icon__download {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 0;
}

.liks__descricao {
    font-size: 0.8rem;
    color: var(--cinza-claro);
}

.conteudo__minha-skills {
    width: 100%;
}

.cards__conteudo-minha-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards__skills {
    width: 95px;
    height: 95px;
    padding: 0.8rem;
    display: flex;
    border: 2px solid var(--cinza-claro);
    border-radius: 5px;
}

.cards__skills:nth-child(2n+1) {
    margin: 0 0.8rem 0.8rem;
}

.cards__item-imagens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens__card {
    width: 70%;
}

.conteudo__sobre-mim {
    text-align: center;
    margin: 4rem 0 0;
}

.subtitulo__explicativo {
    font-size: 1.8rem;
    margin: 0 0 2.5rem;
    text-align: center;
}

.imagem__sobre-mim {
    width: 40%;
    margin: 0 0 2.5rem;
}

.descricao__sobre-mim {
    font-size: 1rem;
}

.conteudo__projetos {
    margin: 4rem 0 0;
}

.cards__projetos {
    padding: 0.6rem;
    margin:  0 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: var(--cinza-claro);
    border: 2px solid transparent;
}

.cards__projetos:hover {
    border: 2px solid var(--azul-claro);
}

.imagens__projetos {
    width: 100%;
    margin: 0 0 0.7rem;
    border-radius: 5px;
}

.subtitulo__projetos {
    margin: 0 0 0.4rem;
    font-size: 1rem;
}

.tecnologias__projetos {
    font-size: 0.7rem;
    text-transform: uppercase;
}

.lista__link-externo {
    margin: 0.9rem 0 0;
    display: flex;
}

.itens__externos:first-child {
    margin: 0 0.8rem 0 0;
}

.conteudo__link-externo {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--azul-claro);
    border-radius: 4px;
    color: var(--cinza-claro);
}

.icon__link-externo,
.icon__github {
    width: 15px;
    height: 15px;
    margin:  0 0.3rem 0 0;
}

.subtitulo__link-externo {
    font-size: 0.7rem;
}

.conteudo__servicos {
    margin: 4rem 0 0;
    width: 100%;
}

.servicos__tech {
    width: 100%;
    height: 20%;
    margin: 0 0 1rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cinza-claro);
    border: 2px solid var(--cinza-claro);
    border-left: 4px solid var(--azul-claro);
    border-radius: 5px;
}

.imagem__full-stack {
    width: 50px;
    height: 50px;
    margin: 0 0 0.8rem;
}

.descricao__servicos {
    font-size: 1rem;
}

.conteudo__footer {
    width: 110%;
    padding: 1rem;
    margin: 1.5rem 0 0;
    text-align: center;
}

.copyright__foote {
    font-size: 1.5rem;
}